/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

section {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.tutorials {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 articles par ligne */
    gap: 20px;
}

article {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* Style pour le header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

/* Style pour le logo */
.logo img {
    width: 100px; /* Ajustez la taille selon vos besoins */
}

/* Style pour la barre de recherche */
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.search-bar button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #0056b3;
}

/* Style pour la navigation */
nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bff;
}


/* Style pour la grille */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style pour les éléments de la grille */
.grid-item {
    flex-basis: calc(25% - 20px); /* Calcul de la largeur des éléments */
    margin-bottom: 20px;
    /* Autres styles pour chaque élément */
}

h1 {
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}